h4#virtual-methods Virutal Slides Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.virtual.cache
      td Object with cached slides HTML elements
    tr
      td mySwiper.virtual.from
      td Index of first rendered slide
    tr
      td mySwiper.virtual.to
      td Index of last rendered slide
    tr
      td mySwiper.virtual.slides
      td Array with slide items passed by <code>vlirtual.slides</code> parameter
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.virtual.appendSlide(<span>slide</span>);
      td Append slide
    tr
      td mySwiper.virtual.prependSlide(<span>slide</span>);
      td Prepend slide
    tr
      td mySwiper.virtual.update();
      td Update virutal slides state
