
@import "~swiper/css";
@import "~swiper/css/zoom";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
}
