p Virtual Slides module allows to keep just required amount of slides in DOM. It is very useful in terms in performance and memory issues if you have a lot of slides, especially slides with heavyweight DOM tree or images.
.important-note
  p Note that according to Virtual Slides realization it <b>doesn't work</b> with <code>loop</code> mode, <code>slidesPerColumn</code> more than 1 and <code>slidesPerView: 'auto'</code>
