h4#virtual-methods Virtual Slides Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.virtual.cache
      td Object with cached slides HTML elements
    tr
      td mySwiper.virtual.from
      td Index of first rendered slide
    tr
      td mySwiper.virtual.to
      td Index of last rendered slide
    tr
      td mySwiper.virtual.slides
      td Array with slide items passed by <code>virtual.slides</code> parameter
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.virtual.appendSlide(<span>slides</span>);
      td Append slide. <code>slides</code> can be a single slide item or array with such slides.
    tr
      td mySwiper.virtual.prependSlide(<span>slides</span>);
      td Prepend slide. <code>slides</code> can be a single slide item or array with such slides.
    tr
      td mySwiper.virtual.removeSlide(<span>slideIndexes</span>);
      td Remove specific slide or slides. <code>slideIndexes</code> can be a number with slide index to remove or array with indexes.
    tr
      td mySwiper.virtual.removeAllSlides();
      td Remove all slides.
    tr
      td mySwiper.virtual.update();
      td Update virutal slides state.
