h4#navigation-methods Navigation Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.navigation.nextEl
      td HTMLElement of "next" navigation button
    tr
      td mySwiper.navigation.prevEl
      td HTMLElement of "previous" navigation button
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.navigation.update();
      td Update navigation buttons state (enabled/disabled)
