
@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/scrollbar";
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
