
@import "~swiper/css";
@import "~swiper/css/effect-flip";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
.swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
