h4#autoplay-events Autoplay Events
table.events-table
  thead
    tr
      th Event name
      th Arguments
      th Description
  tbody
    tr
      td autoplayStart
      td
      td Event will be fired in when autoplay started
    tr
      td autoplayStop
      td
      td Event will be fired when autoplay stopped
    tr
      td autoplay
      td
      td Event will be fired when slide changed with autoplay
