h4#autoplay-methods Autoplay Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.autoplay.running
      td Whether autoplay enabled and running
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.autoplay.start();
      td Start autoplay
    tr
      td mySwiper.autoplay.stop();
      td Stop autoplay
