h4#autoplay-parameters Autoplay Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td autoplay
      td object/boolean
      td
      td
        p Object with autoplay parameters or boolean <b>true</b> to enable with default settings. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  autoplay: {
                    delay: 5000,
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td delay
      td number
      td 3000
      td
        p Delay between transitions (in ms). If this parameter is not specified, auto play will be disabled
        p If you need to specify different delay for specific slides you can do it by using <code>data-swiper-autoplay</code> (in ms) attribute on slide:
        pre
          code
            :code(lang="html")
              &lt;!-- hold this slide for 2 seconds --&gt;
              &lt;div class="swiper-slide" data-swiper-autoplay="2000"&gt;
    tr.subparam-row
      td stopOnLastSlide
      td boolean
      td false
      td Enable this parameter and autoplay will be stopped when it reaches last slide (has no effect in loop mode)
    tr.subparam-row
      td disableOnInteraction
      td boolean
      td true
      td Set to false and autoplay will not be disabled after user interactions (swipes), it will be restarted every time after interaction
    tr.subparam-row
      td reverseDirection
      td boolean
      td false
      td Enables autoplay in reverse direction
    tr.subparam-row
      td waitForTransition
      td boolean
      td true
      td When enabled autoplay will wait for wrapper transition to continue. Can be disabled in case of using Virtual Translate when your slider may not have transition
    tr.subparam-close-row
      td(colspan="4") }
