h4#zoom-events Zoom Events
table.events-table
  thead
    tr
      th Event name
      th Arguments
      th Description
  tbody
    tr
      td zoomChange
      td scale, imageEl, slideEl
      td Event will be fired when zoom changes

