h4#zoom-events Zoom Events
table.methods-table
  tbody
    tr
      th Event name
      th Arguments
      th Description
    tr
      td zoomChange
      td scale, imageEl, slideEl
      td Event will be fired when zoom changes

