h4#zoom-methods Zoom Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.zoom.enabled
      td Whether the zoom module is enabled
    tr
      td mySwiper.zoom.scale
      td Current image scale ratio
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.zoom.enable();
      td Enable zoom module
    tr
      td mySwiper.zoom.disable();
      td Disable zoom module
    tr
      td mySwiper.zoom.in();
      td Zoom in image of the currently active slide
    tr
      td mySwiper.zoom.out();
      td Zoom out image of the currently active slide
    tr
      td mySwiper.zoom.toggle();
      td Toggle image zoom of the currently active slide
