h4#zoom-parameters Zoom Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td zoom
      td object/boolean
      td
      td
        p Enables zooming functionality. Object with zoom parameters or boolean <b>true</b> to enable with default settings. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  zoom: {
                    maxRatio: 5,
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td maxRatio
      td number
      td 3
      td Maximum image zoom multiplier
    tr.subparam-row
      td minRatio
      td number
      td 1
      td Minimal image zoom multiplier
    tr.subparam-row
      td toggle
      td boolean
      td true
      td Enable/disable zoom-in by slide's double tap
    tr.subparam-row
      td containerClass
      td string
      td 'swiper-zoom-container'
      td CSS class name of zoom container
    tr.subparam-row
      td zoomedSlideClass
      td string
      td 'swiper-slide-zoomed'
      td CSS class name of zoomed in container
    tr.subparam-close-row
      td(colspan="4") }
