h4#accessibility-parameters Accessibility Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td a11y
      td object/boolean
      td
      td
        p Object with a11y parameters or boolean <b>true</b> to enable with default settings. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  a11y: {
                    prevSlideMessage: 'Previous slide',
                    nextSlideMessage: 'Next slide',
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td enabled
      td boolean
      td true
      td Enables A11y
    tr.subparam-row
      td prevSlideMessage
      td string
      td 'Previous slide'
      td Message for screen readers for previous button
    tr.subparam-row
      td nextSlideMessage
      td string
      td 'Next slide'
      td Message for screen readers for next button
    tr.subparam-row
      td firstSlideMessage
      td string
      td 'This is the first slide'
      td Message for screen readers for previous button when swiper is on first slide
    tr.subparam-row
      td lastSlideMessage
      td string
      td 'This is the last slide'
      td Message for screen readers for previous button when swiper is on last slide
    tr.subparam-row
      td paginationBulletMessage
      td string
      td 'Go to slide {{index}}'
      td Message for screen readers for single pagination bullet
    tr.subparam-row
      td notificationClass
      td string
      td 'swiper-notification'
      td CSS class name of a11y notification
    tr.subparam-close-row
      td(colspan="4") }
