h4#navigation-events Navigation Events
table.events-table
  thead
    tr
      th Event name
      th Arguments
      th Description
  tbody
    tr
      td navigationHide
      td
      td Event will be fired on navigation hide
    tr
      td navigationShow
      td
      td Event will be fired on navigation show

