h4#navigation-parameters Navigation Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td navigation
      td object
      td
      td
        p Object with navigation parameters. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td nextEl
      td string / HTMLElement
      td null
      td String with CSS selector or HTML element of the element that will work like "next" button after click on it
    tr.subparam-row
      td prevEl
      td string / HTMLElement
      td null
      td String with CSS selector or HTML element of the element that will work like "prev" button after click on it
    tr.subparam-row
      td hideOnClick
      td boolean
      td false
      td Toggle navigation buttons visibility after click on Slider's container
    tr.subparam-row
      td disabledClass
      td string
      td 'swiper-button-disabled'
      td CSS class name added to navigation button when it becomes disabled
    tr.subparam-row
      td hiddenClass
      td string
      td 'swiper-button-hidden'
      td CSS class name added to navigation button when it becomes hidden
    tr.subparam-close-row
      td(colspan="4") }
