h4#keyboard-methods Keyboard Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.keyboard.enabled
      td Whether the keyboard control is enabled
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.keyboard.enable();
      td Enable keyboard control
    tr
      td mySwiper.keyboard.disable();
      td Disable keyboard control
