p Swiper comes with a bunch of useful events you can listen. Events can be assigned in two ways:
ol
  li
    p Using <code>on</code> parameter on swiper initialization:
    p
      pre
        code
          :code(lang="js")
            var mySwiper = new Swiper('.swiper-container', {
              // ...
              on: {
                init: function () {
                  console.log('swiper initialized');
                },
              },
            };
  li
    p Using <code>on</code> method after swiper initialization.
    p
      pre
        code
          :code(lang="js")
            var mySwiper = new Swiper('.swiper-container', {
              // ...
            };
            mySwiper.on('slideChange', function () {
              console.log('slide changed');
            });
.important-note
  p Please note, that <code>this</code> keyword within event handler always points to Swiper instance
br
table.events-table
  thead
    tr
      th Event name
      th Arguments
      th Description
  tbody
    tr
      td init
      td
      td
        p Event will be fired right after Swiper initialization. Note that with <code>swiper.on('init')</code> syntax it will work only in case you set <code>init: false</code> parameter:
        pre
          code
            :code(lang="js")
              var swiper = new Swiper('.swiper-container', {
                init: false,
                // other parameters
              })
              swiper.on('init', function() { /* do something */ });
              // init Swiper
              swiper.init();
        p Otherwise use it as the parameter:
        pre
          code
            :code(lang="js")
              var swiper = new Swiper('.swiper-container', {
                // other parameters
                on: {
                  init: function () {
                    /* do something */
                  },
                }
              });
    tr
      td beforeDestroy
      td
      td Event will be fired right before Swiper destroyed
    tr
      td slideChange
      td
      td Event will be fired when currently active slide is changed
    tr
      td slideChangeTransitionStart
      td
      td Event will be fired in the beginning of animation to other slide (next or previous).
    tr
      td slideChangeTransitionEnd
      td
      td Event will be fired after animation to other slide (next or previous).
    tr
      td slideNextTransitionStart
      td
      td Same as "slideChangeTransitionStart" but for "forward" direction only
    tr
      td slideNextTransitionEnd
      td
      td Same as "slideChangeTransitionEnd" but for "forward" direction only
    tr
      td slidePrevTransitionStart
      td
      td Same as "slideChangeTransitionStart" but for "backward" direction only
    tr
      td slidePrevTransitionEnd
      td
      td Same as "slideChangeTransitionEnd" but for "backward" direction only
    tr
      td transitionStart
      td
      td Event will be fired in the beginning of transition.
    tr
      td transitionEnd
      td
      td Event will be fired after transition.
    tr
      td touchStart
      td event
      td Event will be fired when user touch Swiper. Receives 'touchstart' event as an arguments.
    tr
      td touchMove(event)
      td event
      td Event will be fired when user touch and move finger over Swiper. Receives 'touchmove' event as an arguments.
    tr
      td touchMoveOpposite
      td event
      td Event will be fired when user touch and move finger over Swiper in direction opposite to <code>direction</code> parameter. Receives 'touchmove' event as an arguments.
    tr
      td sliderMove
      td event
      td Event will be fired when user touch and move finger over Swiper and move it. Receives 'touchmove' event as an arguments.
    tr
      td touchEnd
      td event
      td Event will be fired when user release Swiper. Receives 'touchend' event as an arguments.
    tr
      td click
      td event
      td Event will be fired when user click/tap on Swiper. Receives 'touchend' event as an arguments.
    tr
      td tap
      td event
      td Event will be fired when user click/tap on Swiper. Receives 'touchend' event as an arguments.
    tr
      td doubleTap
      td event
      td Event will be fired when user double tap on Swiper's container. Receives 'touchend' event as an arguments
    tr
      td imagesReady
      td
      td Event will be fired right after all inner images are loaded. <code>updateOnImagesReady</code> should be also enabled
    tr
      td progress
      td progress
      td Event will be fired when Swiper progress is changed, as an arguments it receives <b>progress</b> that is always from 0 to 1
    tr
      td reachBeginning
      td
      td Event will be fired when Swiper reach its beginning (initial position)
    tr
      td reachEnd
      td
      td Event will be fired when Swiper reach last slide
    tr
      td fromEdge
      td
      td Event will be fired when Swiper goes from <code>beginning</code> or <code>end</code> position
    tr
      td setTranslate
      td translate
      td Event will be fired when swiper's wrapper change its position. Receives current translate value as an arguments
    tr
      td setTransition
      td transition
      td Event will be fired everytime when swiper starts animation. Receives current transition duration (in ms) as an arguments
    tr
      td resize
      td
      td Event will be fired on window resize right before swiper's onresize manipulation
    tr
      td observerUpdate
      td
      td Event will be fired if observer is enabled and it detects DOM mutations
