h4#scrollbar-events Scrollbar Events
table.events-table
  thead
    tr
      th Event name
      th Arguments
      th Description
  tbody
    tr
      td scrollbarDragStart
      td (swiper, event)
      td Event will be fired on draggable scrollbar drag start
    tr
      td scrollbarDragMove
      td (swiper, event)
      td Event will be fired on draggable scrollbar drag move
    tr
      td scrollbarDragEnd
      td (swiper, event)
      td Event will be fired on draggable scrollbar drag end

