h4#scrollbar-parameters Scrollbar Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td scrollbar
      td object
      td
      td
        p Object with scrollbar parameters. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  scrollbar: {
                    el: '.swiper-scrollbar',
                    draggable: true,
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td el
      td string / HTMLElement
      td null
      td String with CSS selector or HTML element of the container with scrollbar.
    tr.subparam-row
      td hide
      td boolean
      td true
      td Hide scrollbar automatically after user interaction
    tr.subparam-row
      td draggable
      td boolean
      td false
      td Set to <b>true</b> to enable make scrollbar draggable that allows you to control slider position
    tr.subparam-row
      td snapOnRelease
      td boolean
      td true
      td Set to <b>false</b> to unsnap slider position to slides when you release scrollbar
    tr.subparam-row
      td dragSize
      td string/number
      td 'auto'
      td Size of scrollbar draggable element in px
    tr.subparam-row
      td lockClass
      td string
      td 'swiper-scrollbar-lock'
      td Scrollbar element additional CSS class when it is disabled
    tr.subparam-row
      td dragClass
      td string
      td 'swiper-scrollbar-drag'
      td Scrollbar draggable element CSS class
    tr.subparam-close-row
      td(colspan="4") }
