h4#coverflow-effect-parameters Coverflow Effect Parameters
p Be sure to have the `effect` param set to `coverflow` in order for this to work.
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td coverflowEffect
      td object
      td
      td
        p Object with Coverflow-effect parameters. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  coverflowEffect: {
                    rotate: 30,
                    slideShadows: false,
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td slideShadows
      td boolean
      td true
      td Enables slides shadows
    tr.subparam-row
      td rotate
      td number
      td 50
      td Slide rotate in degrees
    tr.subparam-row
      td stretch
      td number
      td 0
      td Stretch space between slides (in px)
    tr.subparam-row
      td depth
      td number
      td 100
      td Depth offset in px (slides translate in Z axis)
    tr.subparam-row
      td modifier
      td number
      td 1
      td Effect multipler
    tr.subparam-close-row
      td(colspan="4") }
