h4#pagination-events Pagination Events
table.methods-table
  tbody
    tr
      th Event name
      th Arguments
      th Description
    tr
      td paginationRender
      td swiper, paginationEl
      td Event will be fired after pagination rendered
    tr
      td paginationUpdate
      td swiper, paginationEl
      td Event will be fired when pagination updated
