h4#lazy-events Lazy Loading Events
table.events-table
  thead
    tr
      th Event name
      th Arguments
      th Description
  tbody
    tr
      td lazyImageLoad
      td slideEl, imageEl
      td Event will be fired in the beginning of lazy loading of image
    tr
      td lazyImageReady
      td slideEl, imageEl
      td Event will be fired when lazy loading image will be loaded
