p To enable lazy loading, first of all we need a special layout for images or elements with background in slides:
  pre
    code
      :code(lang="html")
        <div class="swiper-container">
          <div class="swiper-wrapper">

            <!-- Lazy image -->
            <div class="swiper-slide">
              <img data-src="path/to/picture-1.jpg" class="swiper-lazy">
              <div class="swiper-lazy-preloader"></div>
            </div>

            <!-- Lazy image with srscet-->
            <div class="swiper-slide">
              <img data-src="path/to/logo-small.png" data-srcset="path/logo/logo-large.png 2x" class="swiper-lazy">
              <div class="swiper-lazy-preloader"></div>
            </div>

            <!-- Element with lazy background image -->
            <div class="swiper-slide">
              <div data-background="path/to/picture-2.jpg" class="swiper-lazy">
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>

            <!-- Lazy background image on slide itself -->
            <div data-background="path/to/picture-3.jpg" class="swiper-slide swiper-lazy">
              <div class="swiper-lazy-preloader"></div>
            </div>
          </div>
        </div>
  p As you see:
  ul
    li Each lazy loaded image/element should have additional "swiper-lazy" class
    li Lazy image source for &lt;img&gt; element should be specified in "data-src" attribute instead of "src"
    li Lazy image source set for &lt;img&gt; element should be specified in "data-srcset" attribute instead of "srcset"
    li Lazy background image source should be specified in "data-background" attribute
  p You may also add animated preloader spinner to slide which will be removed automatically after image loaded:
  pre
    code
      :code(lang="html")
        &lt;div class="swiper-lazy-preloader"&gt;&lt;/div&gt;
  p Or white-one for dark layout:
  pre
    code
      :code(lang="html")
        &lt;div class="swiper-lazy-preloader swiper-lazy-preloader-white"&gt;&lt;/div&gt;
  p After that we need to enable lazy loading on Swiper initialization:
  pre
    code
      :code(lang="js")
        var swiper = new Swiper('.swiper-container', {
            // Disable preloading of all images
            preloadImages: false,
            // Enable lazy loading
            lazy: true
        });
  .important-note
    p If you use slidesPerView "auto" or slidesPerView &gt; 1, then you should also enable <b>watchSlidesVisibility</b> and Swiper will load images in currently visible slides
