h4#lazy-methods Lazy Loading Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.lazy.load();
      td Load/update lazy images based on current slider state (position)
    tr
      td mySwiper.lazy.loadInSlide(<span>index</span>);
      td Force to load lazy images in slide by specified index
        br
        ul.method-parameters
          li
            span.parameter index
            |  - <span class="parameter-type">number</span> - index number of slide to load lazy images in
