@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  body .prose a {
    @apply text-primary hover:underline dark:text-white;
  }
  .dark footer a {
    @apply text-primaryLight;
  }

  body .prose a:hover {
    @apply hover:no-underline;
  }

  .important-note {
    @apply border-l-4 px-5 py-4 my-3 border-red-500 dark:border-red-500 bg-red-100 dark:bg-red-700/40 dark:text-white;
  }
}

body {
  font-family: Inter, -apple-system, system-ui, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
body .prose {
  color: #5f6570;
}
body .prose code:before,
body .prose code:after {
  display: none;
}
body .prose code {
  background: #f5f5f5;
  padding: 1px 4px;
  border-radius: 4px;
}
.prose > ul > li code {
  word-break: break-word;
}
body .prose pre code {
  background: transparent;
  border-radius: 0px;
  padding: initial;
}
.after\:hash:after {
  content: '#';
}
body .prose pre {
  border-radius: 0.75rem;
}
pre code {
  background: transparent !important;
}
