.carbon {
  width: 280px;
  min-height: 80px;
  font-size: 12px;
  line-height: 1.4;
  padding: 8px 10px 8px;
  overflow: hidden;
  margin-top: 0px;
  @apply rounded-lg bg-surface-3;
  &,
  a {
    display: block;
  }
  img {
    display: block;
    width: 130px;
    height: auto;
    @apply rounded-md;
  }
  .carbon-img {
    display: block;
    float: left;
  }
  .carbon-text {
    margin-top: 0px;
    margin-left: 142px;
    color: var(--color-secondary) !important;
  }
  .carbon-poweredby {
    opacity: 0.85;
    font-size: 11px;
    margin-top: 4px;
    margin-left: 142px;
    opacity: 0.65;
    color: var(--color-secondary) !important;
  }
  &.carbon-share {
    margin-top: 0 !important;
    float: none;
    margin: 0 auto;
    position: relative;
  }
  .prose & {
    display: block;
    margin-bottom: 32px;
    img {
      margin: 0;
    }
    a {
      text-decoration: none;
    }
    @media (min-width: 768px) {
      float: right;
    }
  }
  &-sidebar {
    padding: 8px 4px;
    margin-left: -16px;
    margin-right: -16px;
    width: calc(100% + 32px);
    position: sticky;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    margin-top: 32px;
    box-sizing: border-box;
    img {
      border-radius: 0;
    }
    @media (min-width: 1024px) {
      margin-left: 0;
      margin-right: 0;
      padding: 8px;
      border: none !important;
      width: 100%;
      border-radius: 4px;
      bottom: 8px;
    }
  }
  .dark &-sidebar {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
