.demo:not(.loaded) {
  position: relative;
  &::after {
    content: "Loading...";
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    top: 50%;
    text-align: center;
    color: #555;
  }
}
