@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.scss';
@import './base.scss';
@import './carbon.scss';
@import './demos.scss';
@import './prism.scss';
@import './docs.scss';
