@import url('atropos/atropos.css');

.project-banner {
  width: auto;
  max-width: 80%;
}
.project-banner .atropos-inner {
  background: #fff;
  border-radius: 10px;
}
.project-banner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  z-index: 1;
  transform-style: preserve-3d;
}
.project-banner img.project-banner-spacer {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  visibility: hidden;
}
.project-banner-f7 .atropos-shadow {
  background-image: linear-gradient(90deg, #ff0000, #ff0099);
  filter: blur(10px);
}
.project-banner-f7 .atropos-highlight {
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 25%,
    rgba(125, 0, 0, 0.15)
  );
}
.project-banner-twm .atropos-shadow {
  background: rgb(110, 40, 0);
  filter: blur(10px);
}
.project-banner-twm .atropos-highlight {
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 25%,
    rgba(125, 50, 0, 0.15)
  );
}
.project-banner-atropos .atropos-shadow {
  background: rgb(65, 17, 104);
  filter: blur(10px);
}
.project-banner-atropos .atropos-highlight {
  background-image: radial-gradient(
    circle at 50%,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1) 25%,
    rgba(66, 1, 119, 0.15)
  );
}
