doctype
html
  head
    meta(charset="utf-8")
    title Swiper - Most Modern Mobile Touch Slider
    meta(property="og:image", content="http://idangero.us/swiper/i/swiper-banner.jpg")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="dist/css/swiper.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="shortcut icon" href="favicon.png")
    script(src="js/vendor/modernizr-2.7.1.min.js")
  body
    script.
      (function(){
        var bsa = document.createElement('script');
           bsa.type = 'text/javascript';
           bsa.async = true;
           bsa.src = '//s3.buysellads.com/ac/bsa.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
      })();
    header
      .header-swipers
        .swiper-container.header-swiper-back-2
          .swiper-wrapper
            .swiper-slide
            .swiper-slide
            .swiper-slide
            .swiper-slide
        .swiper-container.header-swiper-back-1
          .swiper-wrapper
            .swiper-slide
            .swiper-slide
            .swiper-slide
            .swiper-slide
        .swiper-container.header-swiper-front
          .swiper-pagination.swiper-pagination-white
          .swiper-button-next.swiper-button-white
          .swiper-button-prev.swiper-button-white
          .swiper-wrapper
            .swiper-slide
              .logo
              .titles
                h1.title Swiper
                h2.subtitle Most Modern Mobile Touch Slider
                .by
                  <a href="http://www.idangero.us">by iDangero.us</a>
                .clearfix
              .release-info MIT Licensed, v4.4.0 released on September 14, 2018 |
                a(href="https://github.com/nolimits4web/swiper/blob/master/CHANGELOG.md", target="_blank") Changelog
              .links
                a(href="https://github.com/nolimits4web/swiper/releases") Download
                a(href="./get-started/") Get Started
                a(href="./api/") API
                a(href="./demos/") Demos
                a(href="./forum/") Forum
              .github-buttons
                | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=swiper&type=watch&count=true" width="100" height="20"></iframe>
                | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=swiper&type=fork&count=true" width="100" height="20"></iframe>
            .swiper-slide
              .slide-title Top Notch Features
              ul.slide-features-list
                li Library Agnostic
                li Mutation Observer
                li Flexbox Layout
                li Full True RTL Support
                li Multi Row Slides Layout
                li 3D Effects
                li Two-way Control
                li Full Navigation Control
                li Reach API
                li Most Flexible Slides Layout Grid
                li Parallax Transitions
                li Images Lazy Loading
                li Virtual Slides
                li And many more ...
            .swiper-slide.swiper-slide-gallery
              .swiper-container.swiper-gallery-top
                .slide-title.demo-iframe-title Build Complex Touch Galleries
                .swiper-wrapper
                  - for (var i = 1; i <= 5; i++)
                    .swiper-slide.swiper-lazy(data-background="http://lorempixel.com/1200/600/nature/#{i}")
                      .swiper-lazy-preloader.swiper-lazy-preloader-white
              .swiper-container.swiper-gallery-thumbs
                .swiper-wrapper
                  - for (var i = 1; i <= 5; i++)
                    .swiper-slide(style="background-image:url(http://lorempixel.com/300/200/nature/#{i})")
            .swiper-slide.last-centered-slide
                .slide-title Start Using It Now
                .slide-subtitle Swiper is completely free and open-source
    .share-line.share-line-home
      .center
        .share
          .share-button
            a(href="https://www.patreon.com/vladimirkharlampidi", target="_blank")
              img(src="//cdn.framework7.io/i/support-badge.png", style="height:20px")
          .share-button
            .fb-like(data-href="http://idangero.us/swiper" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")
          .share-button
            a.twitter-share-button(href="https://twitter.com/share")
          .share-button
            a.twitter-follow-button(href="https://twitter.com/idangerous", data-show-count="true")
          .clearfix
        .carbon.carbon-share
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=idangerousswiper" id="_carbonads_js"></script>
        .clearfix
    .content.center
      .home-block.home-intro
        h1 Swiper
        p Swiper - is the free and most modern mobile touch slider with hardware accelerated transitions and amazing native behavior. It is intended to be used in mobile websites, mobile web apps, and mobile native/hybrid apps. Designed mostly for iOS, but also works great on latest Android, Windows Phone 8 and modern Desktop browsers
        p Swiper is not compatible with all platforms, <b>it is a modern touch slider which is focused only on modern apps/platforms to bring the best experience and simplicity</b>.
        p Swiper, along with other great components, is a part of <a href="http://framework7.io">Framework7</a> - full featured framework for building iOS & Android apps. Swiper is also a default slider component in <a href="http://ionicframework.com/" target="blank">Ionic Framework</a>

      .home-block.home-features
        h2 Powered With Top Notch Features
        ul
          li
            h3 Library Agnostic
            p Swiper doesn't require any JavaScript libraries like jQuery, it makes Swiper much more smaller and faster. So it can be safety to use it with such libraries as jQuery, Zepto, jQuery Mobile, etc.
          li
            h3 1:1 Touch movement
            p By defaut Swiper provides 1:1 touch movement interraction, but this ratio could be configured through Swiper settings
          li
            h3 Mutation Observer
            p Swiper has option to enable Mutation Observer, with this feature Swiper will be automatically reinitilized and recalculate all required parameters if you make dynamic changes in DOM, or in Swiper styles itself
          li
            h3 Reach API
            p Swiper comes with very rich API. It allows to create your own pagination, navigation buttons, create parallax effects and many more
          li
            h3 Full True RTL Support
            p Swiper is the only slider that provides 100% RTL support with correct layout
          li
            h3 Multi Row Slides Layout
            p Swiper allows to have multiple row slides layout, with few slides per column
          li
            h3 Transition Effects
            p There are 3 new transition effects in addition to ususal Slide: Fade, 3D Cube and 3D Coverflow
          li
            h3 Two-way Control
            p Now Swiper may be used as controller for any number of other Swipers, and even be controlled at the same time
          li
            h3 Full Navigation Control
            p Swiper comes with all required built-in navigation elements, such are Pagination, Navigation arrows and Scrollbar
          li
            h3 Flexbox Layout
            p Swiper uses modern flexbox layout for slides layout, this solves a lot of problems and time with size caclulations. Such layout also allows to configure Slides grid using pure CSS

          li
            h3 Most Flexible Slides Layout Grid
            p Swiper has a lot of parameters on initialization to make it as much flexible as possible. You can control slides per view, per column, per group, space between slides, and many more
          li
            h3 Parallax Transitions
            p Swiper supports modern parallax transition effects that can be used on any element inside of Swiper: on images, on text blocks, on headings, on backgrounds, etc.
          li
            h3 Images Lazy Loading
            p Swiper Lazy Loading delays loading of images in none active/visible slides until user swipes to them. Such feature could make the page load faster and improve Swiper performance
          li
            h3 Virtual Slides
            p Swiper 4 comes with new Virtual Slides features which is great when you have a lot of slides or heavy-content (or heavy-images) slides so it will keep just required amount of slides in DOM
          li
            h3 And many more ...
            p All Swiper 2 well-known features are also here: Responsive, Scroll prevention, Resistant bounds, Autoplay, Loop mode, Nested Swipers
      .home-block.home-logos
        h2 Used By Thousands
        .logos
          .logo
            img(src="i/logo-adobe.jpg")
          .logo
            img(src="i/logo-cisco.jpg")
          .logo
            img(src="i/logo-alexa.jpg")
          .logo
            img(src="i/logo-bmw.jpg")
          .logo
            img(src="i/logo-disney.jpg")
          .logo
            img(src="i/logo-peugeot.jpg")
          .logo
            img(src="i/logo-verizon.jpg")
          .logo
            img(src="i/logo-macrumors.jpg")
          .logo
            img(src="i/logo-lacoste.jpg")

          .logo
            img(src="i/logo-vodafone.jpg")

      .home-block.home-free
        h2 And It Is Free
        p Swiper is completely free and open-source (MIT Licensed)
        p
          a(href="https://github.com/nolimits4web/swiper/releases") Download
          a(href="./get-started/") Get Started With Swiper
          a(href="./api/") API
      .home-block.home-products
        h2 More Great Products By iDangero.us
        .more-products
          a(href="http://framework7.io").product
            img(src="i/logo-f7.png")
            .title
              span Framework7
            .text Full Featured HTML Framework For Building iOS & Android Apps
          a(href="http://www.idangero.us/template7/").product
            img(src="i/logo-t7.png")
            .title
              span Template7
            .text Mobile-first JavaScript Template Engine
          .clearfix
    .share-line
      .center
        .share
          .share-button
            a(href="https://www.patreon.com/vladimirkharlampidi", target="_blank")
              img(src="//cdn.framework7.io/i/support-badge.png", style="height:20px")
          .share-button
            .fb-like(data-href="http://framework7.io" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")
          .share-button
            a.twitter-share-button(href="https://twitter.com/share")
          .share-button
            a.twitter-follow-button(href="https://twitter.com/idangerous", data-show-count="true")
          .clearfix
        .github-buttons
          | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=swiper&type=watch&count=true" width="100" height="20"></iframe>
          | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=swiper&type=fork&count=true" width="100" height="20"></iframe>
        .clearfix
    footer
      .center
        .sponsors
          div(id="bsap_1306029", class="bsarocks bsap_e6fd620d82f1992c9d89ddb5878f795b")
        .links
          a(href="./") Swiper
          a(href="./get-started/") Get Started
          a(href="./api/") API
          a(href="./demos/") Demos
          a(href="./forum/") Forum
        .copy 2017 © Swiper by <a href="https://twitter.com/nolimits4web">Vladimir Kharlampidi</a> from <a href="http://idangero.us/">iDangero.us</a>
    script(src="js/vendor/jquery-1.11.0.min.js")
    script(src="js/plugins.js")
    script(src="dist/js/swiper.js")
    script(src="js/main.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-13289120-5', 'idangero.us');
      ga('send', 'pageview');

