footer
  .center
    .sponsors-links
      span Supported by:
      a(href="https://www.colognewebdesign.de" target="_blank" title="COLOGNE WEBDESIGN") COLOGNE WEBDESIGN
    .sponsors
      .custom-sponsors
        a(href="https://codersrank.io/?utm_source=partner&utm_medium=referral&utm_campaign=vladimir", title="CodersRank - Ultimate Profile for Coders")
          img(src="/i/sponsors/codersrank.svg")
        a(href="https://leaderboard.tech", title="Developers Leaderboard", target="_blank")
          img(src="/i/sponsors/developers-leaderboard.svg")
      div(id="bsap_1308868", class="bsarocks bsap_ea6be2338ac7876c60d55b6dc14597fe")
    p.netlify
      <a href="https://www.netlify.com" target="_blank">
        <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg"/>
      </a>
    .links
      a(href="/") Swiper
      a(href="/get-started/") Get Started
      a(href="/api/") API
      a(href="/react/") React
      a(href="/vue/") Vue.js
      a(href="/demos/") Demos
    .copy #{new Date().getFullYear()} © Swiper by <a href="https://github.com/nolimits4web">Vladimir Kharlampidi</a>

script(src="/package/swiper-bundle.min.js")
script(src="/js/main.js")
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149857145-1"></script>
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149857145-1');
