.side-nav-sponsors
  .side-nav-sponsors-title Sponsors
  a(href="https://codersrank.io/?utm_source=partner&utm_medium=referral&utm_campaign=vladimir", title="CodersRank - Ultimate Profile for Coders", target="_blank")
    img(src="/i/sponsors/codersrank-h.svg")
  a(href="https://leaderboard.tech", title="Developers Leaderboard", target="_blank")
    img(src="/i/sponsors/developers-leaderboard.svg")
