doctype
html
  head
    meta(charset="utf-8")
    title Swiper - The Most Modern Mobile Touch Slider
    meta(property="og:title" content="Swiper - The Most Modern Mobile Touch Slider")
    meta(property="og:description" content="Swiper is the most modern free mobile touch slider with hardware accelerated transitions and amazing native behavior.")
    meta(property="og:image", content="https://swiperjs.com/i/share-banner.png")
    meta(property="og:site_name", content="Swiper")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@nolimits4web")
    meta(name="twitter:creator", content="@nolimits4web")
    meta(name="twitter:title", content="Swiper")
    meta(name="twitter:description", content="The Most Modern Mobile Touch Slider")
    meta(name="twitter:image", content="https://swiperjs.com/i/share-banner.png")
    link(rel="stylesheet", href="/package/css/swiper.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon" href="/i/favicon.png")
  body
    script.
      (function(){
        var bsa = document.createElement('script');
          bsa.type = 'text/javascript';
          bsa.async = true;
          bsa.src = '//s3.buysellads.com/ac/bsa.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
      })();
    header
      .header-swipers
        .swiper-container.header-swiper-front
          .swiper-pagination
          .swiper-button-next
          .swiper-button-prev
          .swiper-wrapper
            .swiper-slide
              .slide-center
                .logo
                .titles
                  h1.title Swiper
                  h2.subtitle The Most Modern Mobile Touch Slider
                  .clearfix
                .links
                  a(href="https://github.com/nolimits4web/swiper/releases") Download
                  a(href="/get-started/") Get Started
                  a(href="/api/") API
                  a(href="/demos/") Demos
                .release-info MIT Licensed, v5.4.3 released on June 13, 2020 |
                  <span> </span>
                  a(href="https://github.com/nolimits4web/swiper/blob/master/CHANGELOG.md", target="_blank") Changelog
                .github-buttons
                  a(href="https://github.com/nolimits4web/swiper", target="_blank")
                    i
                  a(href="https://github.com/nolimits4web/swiper", target="_blank").gh-stars
                    span
                    |  stars
                  a(href="https://github.com/nolimits4web/swiper", target="_blank").gh-forks
                    span
                    |  forks
            .swiper-slide
              .slide-center
                .slide-title Top Notch Features
                ul.slide-features-list
                  li Library Agnostic
                  li Mutation Observer
                  li Flexbox Layout
                  li Full True RTL Support
                  li Multi Row Slides Layout
                  li 3D Effects
                  li Two-way Control
                  li Full Navigation Control
                  li Rich API
                  li Most Flexible Slides Layout Grid
                  li Parallax Transitions
                  li Images Lazy Loading
                  li Virtual Slides
                  li And many more ...
            .swiper-slide.swiper-slide-gallery
              .slide-center
                .slide-title Build Complex Touch Galleries
                .swiper-container.swiper-gallery-top
                  .swiper-wrapper
                    - for (var i = 1; i <= 5; i++)
                      .swiper-slide.swiper-lazy(data-background=`./demos/images/nature-${i}.jpg`)
                        .swiper-lazy-preloader
                .swiper-container.swiper-gallery-thumbs
                  .swiper-wrapper
                    - for (var i = 1; i <= 5; i++)
                      .swiper-slide(style=`background-image:url(./demos/images/nature-${i}.jpg)`)
            .swiper-slide.last-centered-slide
              .slide-center
                .slide-title Start Using It Now
                .slide-subtitle Swiper is completely free and open-source
    .share-line.share-line-home
      .center
        .carbon.carbon-share
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIE5QE&placement=swiperjscom" id="_carbonads_js"></script>
        .clearfix
    .content.center
      .home-block.home-intro
        h1 Swiper
        p Swiper is the most modern free mobile touch slider with hardware accelerated transitions and amazing native behavior. It is intended to be used in mobile websites, mobile web apps, and mobile native/hybrid apps.
        p Swiper is not compatible with all platforms, <b>it is a modern touch slider which is focused only on modern apps/platforms to bring the best experience and simplicity</b>.
        p Swiper, along with other great components, is a part of <a href="//framework7.io">Framework7</a> - a fully-featured framework for building iOS & Android apps. Swiper is also a default slider component in the <a href="http://ionicframework.com/" target="blank">Ionic Framework</a>.

      .home-block.home-features
        h2 Powered With Top Notch Features
        ul
          li
            h3 Library Agnostic
            p Swiper doesn't require any JavaScript libraries like jQuery, which makes Swiper much smaller and faster. It can be safely used with libraries such as jQuery, Zepto, jQuery Mobile, etc.
          li
            h3 1:1 Touch movement
            p By default, Swiper provides 1:1 touch movement interaction, but this ratio can be configured through Swiper settings
          li
            h3 Mutation Observer
            p Swiper has an option to enable Mutation Observer, with this feature Swiper will be automatically reinitialized and recalculate all required parameters if you make dynamic changes to the DOM, or in Swiper styles itself
          li
            h3 Rich API
            p Swiper comes with a very rich API. It allows creating your own pagination, navigation buttons, parallax effects and many more
          li
            h3 Full True RTL Support
            p Swiper is the only slider that provides 100% RTL support with correct layout
          li
            h3 Multi Row Slides Layout
            p Swiper allows a multiple row slides layout, with a few slides per column
          li
            h3 Transition Effects
            p There are 3 new transition effects in addition to the usual Slide: Fade, 3D Cube and 3D Coverflow
          li
            h3 Two-way Control
            p Now Swiper may be used as controller for any number of other Swipers, and even be controlled at the same time
          li
            h3 Full Navigation Control
            p Swiper comes with all required built-in navigation elements, such as Pagination, Navigation arrows and Scrollbar
          li
            h3 Flexbox Layout
            p Swiper uses modern flexbox layout for slides layout, which solves a lot of problems and time with size caclulations. Such layout also allows configuring the Slides grid using pure CSS
          li
            h3 Most Flexible Slides Layout Grid
            p Swiper has a lot of parameters on initialization to make it as flexible as possible. You can control slides per view, per column, per group, space between slides, and many more
          li
            h3 Parallax Transitions
            p Swiper supports modern parallax transition effects that can be used on any element inside of Swiper: images, text blocks, headings, backgrounds, etc.
          li
            h3 Images Lazy Loading
            p Swiper Lazy Loading delays loading of images in inactive/invisible slides until the user swipes to them. Such feature could make the page load faster and improve Swiper performance
          li
            h3 Virtual Slides
            p Swiper 4 comes with new Virtual Slides features which is great when you have a lot of slides or content-heavy/image-heavy slides so it will keep just the required amount of slides in DOM
          li
            h3 And many more ...
            p All Swiper 2 well-known features are also here: Responsive, Scroll prevention, Resistant bounds, Autoplay, Loop mode, Nested Swipers
      .home-block.home-logos
        h2 Used By Thousands
        .logos
          .logo
            img(src="i/logo-adobe.jpg" alt="Adobe" title="Adobe")
          .logo
            img(src="i/logo-cisco.jpg" alt="Cisco" title="Cisco")
          .logo
            img(src="i/logo-alexa.jpg" alt="Alexa" title="Alexa")
          .logo
            img(src="i/logo-bmw.jpg" alt="BMW" title="BMW")
          .logo
            img(src="i/logo-disney.jpg" alt="Disney" title="Disney")
          .logo
            img(src="i/logo-peugeot.jpg" alt="Peugeot" title="Peugeot")
          .logo
            img(src="i/logo-verizon.jpg" alt="Verizon" title="Verizon")
          .logo
            img(src="i/logo-macrumors.jpg" alt="MacRumors" title="MacRumors")
          .logo
            img(src="i/logo-lacoste.jpg" alt="Lacoste" title="Lacoste")
          .logo
            img(src="i/logo-vodafone.jpg" alt="Vodafone" title="Vodafone")

      .home-block.home-free
        h2 And It Is Free
        p Swiper is completely free and open-source (MIT Licensed)
        p
          a(href="https://github.com/nolimits4web/swiper/releases") Download
          a(href="./get-started/") Get Started
          a(href="./api/") API
          a(href="./demos/") Demos

    footer
      .center
        .sponsors-links
          span Supported by:
          a(href="https://www.colognewebdesign.de" target="_blank" title="COLOGNE WEBDESIGN") COLOGNE WEBDESIGN
        .sponsors
          .custom-sponsors
            a(href="https://codersrank.io/?utm_source=partner&utm_medium=referral&utm_campaign=vladimir", title="CodersRank - Ultimate Profile for Coders", target="_blank")
              img(src="/i/sponsors/codersrank.svg")
            a(href="https://leaderboard.tech", title="Developers Leaderboard", target="_blank")
              img(src="/i/sponsors/developers-leaderboard.svg")
          div(id="bsap_1308868", class="bsarocks bsap_ea6be2338ac7876c60d55b6dc14597fe")
        p.netlify
          <a href="https://www.netlify.com" target="_blank">
            <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg"/>
          </a>
        .links
          a(href="/") Swiper
          a(href="/get-started/") Get Started
          a(href="/api/") API
          a(href="/demos/") Demos
        .copy #{new Date().getFullYear()} © Swiper by <a href="https://github.com/nolimits4web">Vladimir Kharlampidi</a>
    script(src="/package/js/swiper.min.js")
    script(src="/js/main.js")
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149857145-1"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149857145-1');

