h4#fade-effect-parameters Fade Effect Parameters
p Be sure to have the `effect` param set to `fade` in order for this to work.
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td fadeEffect
      td object
      td
      td
        p Object with Fade-effect parameters. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  fadeEffect: {
                    crossFade: true
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td crossFade
      td boolean
      td false
      td Enables slides cross fade
    tr.subparam-close-row
      td(colspan="4") }
