h4#scrollbar-methods Scrollbar Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.scrollbar.el
      td HTMLElement of Scrollbar container element
    tr
      td mySwiper.scrollbar.dragEl
      td HTMLElement of Scrollbar draggable handler element
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.scrollbar.updateSize();
      td Updates scrollbar track and handler sizes
