h4#hash-navigation-events Hash Navigation Events
table.events-table
  thead
    tr
      th Event name
      th Arguments
      th Description
  tbody
    tr
      td hashChange
      td
      td Event will be fired on window hash change
    tr
      td hashSet
      td
      td Event will be fired when swiper updates the hash
