p Hash navigation is intended to have a link to specific slide that allows to load page with specific slide opened.
p To make it work, you need to enable it by passing <code>hashNavigation:true</code> parameter and adding slides hashes in <code>data-hash</code> attribute:
:code(lang="html")
  &lt;div class="swiper-container"&gt;
      &lt;div class="swiper-wrapper"&gt;
          &lt;div class="swiper-slide" data-hash="slide1"&gt;Slide 1&lt;/div&gt;
          &lt;div class="swiper-slide" data-hash="slide2"&gt;Slide 2&lt;/div&gt;
          &lt;div class="swiper-slide" data-hash="slide3"&gt;Slide 3&lt;/div&gt;
          &lt;div class="swiper-slide" data-hash="slide4"&gt;Slide 4&lt;/div&gt;
          &lt;div class="swiper-slide" data-hash="slide5"&gt;Slide 5&lt;/div&gt;
          ...
      &lt;/div&gt;
  &lt;/div&gt;
:code(lang="js")
  var swiper = new Swiper('.swiper-container', {
    //enable hash navigation
    hashNavigation: true
  })
