h4#hashnavigation-parameters Hash Navigation Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td hashNavigation
      td object/boolean
      td
      td
        p Enables hash url navigation to for slides. Object with hash navigation parameters or boolean <b>true</b> to enable with default settings. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  hashNavigation: {
                    replaceState: true,
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td watchState
      td boolean
      td false
      td Set to <b>true</b> to enable also navigation through slides (when hashnav is enabled) by browser history or by setting directly hash on document location
    tr.subparam-row
      td replaceState
      td boolean
      td false
      td Works in addition to hashnav to replace current url state with the new one instead of adding it to history
    tr.subparam-close-row
      td(colspan="4") }
