h4#history-parameters History Navigation Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td history
      td object/boolean
      td
      td
        p Enables history push state where every slide will have its own url. In this parameter you have to specify main slides url like <b>"slides"</b> and specify every slide url using <code>data-history</code> attribute.
        p Object with history navigation parameters or boolean <b>true</b> to enable with default settings. For example:
        pre
          code
            :code(lang="js")
              var mySwiper = new Swiper('.swiper-container', {
                history: {
                  replaceState: true,
                },
              });
        pre
          code
            :code(lang="html")
              &lt;!-- will produce "slides/slide1" url in browser history --&gt;
              &lt;div class="swiper-slide" data-history="slide1"&gt;&lt;/div&gt;
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td replaceState
      td boolean
      td false
      td Works in addition to hashnav or history to replace current url state with the new one instead of adding it to history
    tr.subparam-row
      td key
      td string
      td 'slides'
      td Url key for slides
    tr.subparam-close-row
      td(colspan="4") }
