h4#cube-effect-parameters Cube Effect Parameters
p Be sure to have the `effect` param set to `cube` in order for this to work.
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td cubeEffect
      td object
      td
      td
        p Object with Cube-effect parameters. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  cubeEffect: {
                    slideShadows: false,
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td slideShadows
      td boolean
      td true
      td Enables slides shadows
    tr.subparam-row
      td shadow
      td boolean
      td true
      td Enables main slider shadow
    tr.subparam-row
      td shadowOffset
      td number
      td 20
      td Main shadow offset in px
    tr.subparam-row
      td shadowScale
      td number
      td 0.94
      td Main shadow scale ratio
    tr.subparam-close-row
      td(colspan="4") }
