extends ../_internal-template

block vars
  - var activeLink = 'get-started';
  - var title = 'Getting Started With Swiper';

block content
  h1 Getting Started With Swiper
  h3 1a. Download and install Swiper
  p First of all we need to download required Swiper files:
  ul
    li We can download them from <a href="https://github.com/nolimits4web/Swiper/tree/master/package" target="_blank">Swiper GitHub repository</a>
    li Or we can install them via NPM, enter in terminal:
      :code
        $ npm install swiper
  h3 1b. Use Swiper from CDN
  p If you don't want to include Swiper files in your project, you may use it from <a href="http://cdnjs.com">Swiper on cdnjs</a>. The following files are available:
  pre
    code
      :code(lang="html")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/css/swiper.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/css/swiper.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.min.js"></script>
  .important-note Don't forget to change <b>4.x.x</b> to actual Swiper version
  h3 2. Include Swiper Files To Website/App
  p After that we need to include Swiper's CSS and JS files to our website/app. In your html file:
  pre
    code
      :code(lang="html")
        <!DOCTYPE html>
        <html lang="en">
        <head>
            ...
            <link rel="stylesheet" href="path/to/swiper.min.css">
        </head>
        <body>
            ...
            <script src="path/to/swiper.min.js"></script>
        </body>
        </html>
  h3 3. Add Swiper HTML Layout
  p Now, we need to add basic Swiper layout to our app:
  pre
    code
      :code(lang="html")
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
  h3 4. Swiper CSS Styles/Size
  p After that, we may need to set Swiper size in your CSS file:
  pre
    code
      :code(lang="css")
        .swiper-container {
            width: 600px;
            height: 300px;
        }

  h3 5. Initialize Swiper
  p Finally, we need to initialize Swiper in JS. There are few options/places to do that:
  ul
    li
      p The best option will be in inline script or in script file that is included in the very end of body (right before closing <code>&lt;/body&gt;</code> tag):
      pre(style="width:100%")
        code.js
          :code(lang="html")
            <body>
              ...
              <script>
              var mySwiper = new Swiper ('.swiper-container', {
                // Optional parameters
                direction: 'vertical',
                loop: true,

                // If we need pagination
                pagination: {
                  el: '.swiper-pagination',
                },

                // Navigation arrows
                navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
                },

                // And if we need scrollbar
                scrollbar: {
                  el: '.swiper-scrollbar',
                },
              })
              </script>
            </body>
    li
      p If you use jQuery/Zepto in your site, then you can initialize it in any of your JS files, but make sure that you do it within <code>document.ready</code> event:
      pre(style="width:100%")
        code.js
          :code(lang="js")
            $(document).ready(function () {
              //initialize swiper when document ready
              var mySwiper = new Swiper ('.swiper-container', {
                // Optional parameters
                direction: 'vertical',
                loop: true
              })
            });
    li
      p Otherwise (but not recommended), you can initialize it within window.onload event:
      pre(style="width:100%")
        code.js
          :code(lang="js")
            window.onload = function () {
              //initialize swiper when document ready
              var mySwiper = new Swiper ('.swiper-container', {
                // Optional parameters
                direction: 'vertical',
                loop: true
              })
            };
  h3 As a CommonJs module
  p Swiper is fully compatible with CommonJs modules and can be used in Node.js-like environment:
  pre
    code
      :code(lang="js")
        var Swiper = require('swiper');

        var mySwiper = new Swiper('.swiper-container', { /* ... */ });
  h3 As an ES module
  p Swiper package comes with ES module version which can be used where supported or with bundlers like Webpack or Rollup:
  pre
    code
      :code(lang="js")
        import Swiper from 'swiper';

        var mySwiper = new Swiper('.swiper-container', { /* ... */ });
  .important-note
    p In case you use it as an ES module make sure:
    ul
     li you have enabled <a href="https://babeljs.io/" target="_blank">Babel</a> or <a href="https://buble.surge.sh/" target="_blank">Buble</a> to transpile it to ES5 syntax,
     li you have enabled node modules resolving and babel transpiling for Swiper as it uses <a href="https://github.com/nolimits4web/Dom7" target="_blank">Dom7</a> and <b>ssr-window</b> packages as dependencies.

  h2 What next?
  p As you see it is really easy to integrate Swiper into your website or app. So here are your next steps:
  ul
    li Go to <a href="../api/">API Documentation</a> to learn more about all Swiper API and how to control it.
    li Look at available <a href="../demos/" target="_blank">Demos</a>.
    li If you have questions about Swiper ask them in <a href="http://stackoverflow.com" target="_blank">StackOverflow</a> and don't forget to tag your question with <a href="http://stackoverflow.com/questions/tagged/swiper" target="_blank"><code>swiper</code></a> tag.
    li Create issue on <a href="https://github.com/nolimits4web/swiper/" target="_blank">GitHub</a> if you found a bug.
