p Swiper supports parallax transition effects for swiper/slides nested elements. There are two types of parallax elements supported:
ul
  li Direct child elements of <code>swiper-container</code>. Parallax effect for such elements will depend on total slider progress. Useful for parallax backgrounds
  li Slides child elements. Parallax effect for such elements will depend on slide progress
p To enable parallax effects you need to init Swiper with passed <code>parallax:true</code> parameter and add one of the following (or mix) attributes to required elements:
ul
  li <code>data-swiper-parallax</code> - enable transform-translate parallax transition. This attribute may accept:
    ul
      li <b>number</b> - value in px (as for title, subtitle in example above) to move element depending on progress. In this case such element will be moved on ± this value in px depending on slide position (next or previous)
      li <b>percentage</b> - (as for "parallax-bg") to move element depending on progress and on its size. In this case such element will be moved on ± this percentage of its size (width in horizontal direction, and height in vertical direction) depending on slide position (next or previous). So if element has 400px width and you specified data-swiper-parallax="50%" then it will be moved on ± 200px
  li <code>data-swiper-parallax-x</code> - same but for x-axis direction
  li <code>data-swiper-parallax-y</code> - same but for y-axis direction
  li <code>data-swiper-parallax-scale</code> - scale ratio of the parallax element when it is in "inactive" (not on active slide) state
  li <code>data-swiper-parallax-opacity</code> - opacity of the parallax element when it is in "inactive" (not on active slide) state
  li <code>data-swiper-parallax-duration</code> - custom transition duration for parallax elements
pre
  code
    :code(lang="html")
      <div class="swiper-container">
        <!-- Parallax background element -->
        <div class="parallax-bg" style="background-image:url(path/to/image.jpg)" data-swiper-parallax="-23%">
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!-- Each slide has parallax title -->
            <div class="title" data-swiper-parallax="-100">Slide 1</div>
            <!-- Parallax subtitle -->
            <div class="subtitle" data-swiper-parallax="-200">Subtitle</div>
            <!-- And parallax text with custom transition duration -->
            <div class="text" data-swiper-parallax="-300" data-swiper-parallax-duration="600">
              <p>Lorem ipsum dolor sit amet, ...</p>
            </div>
            <!-- Opacity parallax -->
            <div data-swiper-parallax-opacity="0.5">I will change opacity</div>
            <!-- Scale parallax -->
            <div data-swiper-parallax-scale="0.15">I will change scale</div>
          </div>
          ...
        </div>
      </div>
