h4#parallax-parameters Parallax Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td parallax
      td boolean
      td false
      td Enable, if you want to use "parallaxed" elements inside of slider
