h4#mousewheel-methods Mousewheel Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.mousewheel.enabled
      td Whether the mousewheel control is enabled
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.mousewheel.enable();
      td Enable mousewheel control
    tr
      td mySwiper.mousewheel.disable();
      td Disable mousewheel control
