h4#pagination-events Pagination Events
table.events-table
  thead
    tr
      th Event name
      th Arguments
      th Description
  tbody
    tr
      td paginationRender
      td swiper, paginationEl
      td Event will be fired after pagination rendered
    tr
      td paginationUpdate
      td swiper, paginationEl
      td Event will be fired when pagination updated
    tr
      td paginationHide
      td
      td Event will be fired on pagination hide
    tr
      td paginationShow
      td
      td Event will be fired on pagination show
