h4#pagination-methods Pagination Methods & Properties
table.methods-table
  tbody
    tr
      th(colspan="2") Properties
    tr
      td mySwiper.pagination.el
      td HTMLElement of pagination container element
    tr
      td mySwiper.pagination.bullets
      td Dom7 array-like collection of pagination bullets HTML elements. To get specific slide HTMLElement use <code>mySwiper.pagination.bullets[1]</code>
    tr
      th(colspan="2") Methods
    tr
      td mySwiper.pagination.render();
      td Render pagination layout
    tr
      td mySwiper.pagination.update();
      td Update pagination state (enabled/disabled/active)
