h4#mousewheel-parameters Mousewheel Control Parameters
table.params-table
  thead
    tr
      th Parameter
      th Type
      th Default
      th Description
  tbody
    tr
      td mousewheel
      td object/boolean
      td false
      td
        p Enables navigation through slides using mouse wheel. Object with mousewheel parameters or boolean <b>true</b> to enable with default settings. For example:
          pre
            code
              :code(lang="js")
                var mySwiper = new Swiper('.swiper-container', {
                  mousewheel: {
                    invert: true,
                  },
                });
    tr.subparam-open-row
      td(colspan="4") {
    tr.subparam-row
      td forceToAxis
      td boolean
      td false
      td Set to <b>true</b> to force mousewheel swipes to axis. So in horizontal mode mousewheel will work only with horizontal mousewheel scrolling, and only with vertical scrolling in vertical mode.
    tr.subparam-row
      td releaseOnEdges
      td boolean
      td false
      td Set to <b>true</b> and swiper will release mousewheel event and allow page scrolling when swiper is on edge positions (in the beginning or in the end)
    tr.subparam-row
      td invert
      td boolean
      td false
      td Set to <b>true</b> to invert sliding direction
    tr.subparam-row
      td sensitivity
      td number
      td 1
      td Multiplier of mousewheel data, allows to tweak mouse wheel sensitivity
    tr.subparam-row
      td eventsTarged
      td string / HTMLElement
      td 'container'
      td String with CSS selector or HTML element of the container accepting mousewheel events. By default it is swiper-container
    tr.subparam-close-row
      td(colspan="4") }
